@import url('https://fonts.googleapis.com/css?family=Lato:900|Muli:200,400,700');

html {
    overflow-x: hidden;
    background-color: black;
    background: linear-gradient(#151642, #619EBF, #FFFFFF);
}

body {
    background-color: #181441;
    margin: 0;
}

textarea, input, button { 
    outline: none; 
}

#container{
    position: absolute;
    width: 100vw;
    height: 150vh;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

    @media (max-width: 950px) {
        height: 180vh;
    }
}

@media (min-width: 950px) {
    br {
        display: none;
    }
}

#wrapper{
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 130vh;
    z-index: 10;
    left: 0;

    @media (max-width: 950px) {
        height: 180vh;
    }

    div{
        position:absolute;
        background-position: center center;
        background-size: cover;
    }
}

.planet1 {
    height: 88vh;
    width: 88vh;
    z-index: 8;
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/planet1.png);
    right: -11vw;
    top: -14vh;

    @media (max-width: 950px) {
        height: 75vh;
        width: 75vh;
        left: 29vw;
        top: 6vh;
    }
}

.planet2 {
    top: 80vh;
    height: 45vh;
    width: 45vh;
    z-index: 8;
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/planet2.png);
    right: 8vw;

    @media (max-width: 950px) {
        left: -20vw;
        top: 100vh;
    }
}

.planet3 {
    height: 17vh;
    width: 17vh;
    z-index: 8;
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/planet3.png);
    top: 26vh;
    left: 22vw;
    @media (max-width: 950px) {
        display: none !important;
    }
}

.planet4 {
    height: 20vh;
    width: 20vh;
    z-index: 8;
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/planet4.png);
    top: 50vh;
    right: 2vw;    
    @media (max-width: 950px) {
     /*   display: block !important;
        height: 30vh;
        width: 30vh;
        z-index: 8;
        background-image: url(https://s3.amazonaws.com/imagine-2018/assets/planet4.png);
        top: 40vh;
        right: 2vw;*/

        display: none;
    }
}

.planet5 {
    height: 40vh;
    width: 40vh;
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/starplanet.png);
    top: 1vh;
    left: 6vw;
    @media (max-width: 950px) {
        display: none;
    }
}

.comet2 {
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg); 
    transform: rotate(120deg);
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/comet2.png);
    right: 22vw;
    z-index: 7;
    height: 105vh;
    width: 7vh;
    top: 2vh;
    @media (max-width: 950px) {
        display: none;
    }
}

.comet3 {
    -ms-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/comet3.png);
    right: 22vw;
    z-index: 8;
    height: 89vh;
    width: 7vh;
    top: 72vh;
    @media (max-width: 950px) {
        display: none;
    }
}


.comet4 {
    -ms-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    background-image: url(https://s3.amazonaws.com/imagine-2018/assets/comet4.png);
    z-index: 8;
    left: 34vw;
    top: 6vh;
    width: 3vh;
    height: 51vh;
    @media (max-width: 950px) {
        left: 61vw;
        top: -15vh;
        width: 10vh;
        height: 69vh;
    }
}

div#particles-js {
    background-color: #151642;
    height: 180vh;
    padding-bottom: 20vw;

    @media (max-width: 950px) {
        height: 180vh;
    }

    @media (max-width: 950px) {
        height: auto;
        padding-bottom: 30vw;
    }
}

.particles-js-canvas-el {
    @media (max-width: 950px) {
        display: none;        
    }
}


.planets {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 100%;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

.comets {
    position: absolute;
}

.planet4 {
    display: none;
}

.comet5 {
	display: none;
}

.info {
    width: 50%;
    height: 28vh;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 25%;
    left: 25%;
    text-align: center;
    margin: auto;
    z-index: 99;

    @media (max-width: 950px) {
        left: 0;
        text-align: left;
        margin-bottom: 3em;
        padding-left: 1.5em;
        position: relative;
        width: auto;
        height: auto;
        padding-top: 3em;
    }

    @media (max-height: 450px) {
        height: 65vh;
    }

    @media (max-width: 950px) {
        z-index: 98;
    }

	h3 {
		font-family: 'Lato', sans-serif;
		color: white;
	    font-size: 5em;
	    margin: 0;

        @media (max-width: 500px) {
            font-size: 4.8em;
            line-height: 1;
            margin: 10% 0;
        }
	}

	p {
		font-family: 'Muli', sans-serif;
	    font-size: 2em;
	    color: #C5C5D0;
	    margin: 0 0 4vw;

        &:nth-child(3) {
            font-size: 1.6em;
        }
        @media (max-width: 500px) {
            font-size: 1.7em;
            margin: 0px 0 7vw;
        }
	}

    .input-div .success {
        display: none;
        width: 90%;
        padding-left: 0;
        text-align: center;
    }

    .presents {
        margin: 0;
    }

    .error, .nameerror {
        display: none;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .lgnbuttons {
        @media (max-width: 950px) {
            margin: 22% 0;
        }

        a {
            margin: 20px;
            font-size: 1.3em;
            font-family: muli;
            font-weight: 200;
            text-decoration: none;
            color: white;
            border: 1.5px solid white;
            padding: 8px 20px;
            border-radius: 25px;
            transition: all 0.3s ease-out;

            @media (max-width: 950px) {
                margin: 0;
                margin-right: 15px;
            }

            &:hover {
                background-color: #ffffff26;
            }
        }
    }
}

.whatis {
    position: absolute;
    color: white;
    bottom: -65vh;
    font-family: "Muli", sans-serif;
    width: 40%;
    left: 10vw;
    font-size: 21px;
    z-index: 99;
    font-weight: 200;

    @media (max-width: 950px) {
        position: relative;
        bottom: 0;
        width: 80%;
    }

     @media (max-width: 950px) {
        z-index: 98;
    }

    a {
        color: #ffffffc4;
        position: relative;
        font-weight: 400;
    }
}

.speakers {
    width: 100%;
    text-align: center;
    left: 0;

    input {
        margin: 20px auto;
        display: block;

        @media (max-width: 500px) {
            margin: 20px auto;
        } 
    }

    button {
        font-family: 'Muli', sans-serif;
        font-size: 1.2em;
        color: #C5C5D0;
        background: none;
        border: 2px solid #C5C5D0;
        padding: 6px 10px;
        border-radius: 20px;
    }

    p {
        @media (max-width: 500px) {
            font-size: 1.5em;
        } 
    }

    h3 {
        font-size: 3em;
        @media (max-width: 500px) {
            font-size: 2em;
        } 
    }
}

.contact {
    margin-top: 7%;
    padding-bottom: 2%;
    position: relative;

    h3 {
        text-align: center;
        font-size: 1.1em;
        font-family: lato;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 2%;

        @media (max-width: 600px) {
            font-size: 2.5em;
        }
    }

    .socials {
        text-align: center;

        @media (max-width: 600px) {
            margin-bottom: 50px;
        }

        i {
            font-size: 2.6em;
            color: #3c3c3c;
            padding-right: 0.7em;
            transition: color 0.5s;

            @media (max-width: 600px) {
                font-size: 2.5em;
                text-shadow: none;
            }   
        }

        i:hover {
            color: #070707;
        }
    }

    .imgend {
        margin: 3% 0 7%;
        text-align: center;

        h3 {
            display: inline;
            color: #4b4b4b;
            padding-left: 11px;
            top: 3px;
            position: relative;

            @media (max-width: 600px) {
                font-size: 1.5em;
                top: 5px;
                padding-right: 0px;
            }
        }

        img {
            display: inline;
            width: 30px;
            vertical-align: middle;

            @media (max-width: 600px) {
                width: 38px;
            }
        }
    }
}


.torchicon1 {    
    img {
        width: 1.1em;
        padding-right: 15px;
        top: 3px;
        position: relative;
        opacity: 0.8;
    }
}

@media (max-width: 500px) {
    .torchicon1 {
        display: initial;
    }

    .torchicon2 {
        display: none;
    }

    .fa-snapchat-ghost {
        padding-right: 0;
    }

    img {
        width: 1.5em;
    }
}

::-webkit-input-placeholder {
	color: #C5C5D0;
}

::-moz-placeholder { 
	color: #C5C5D0;
}

:-ms-input-placeholder {
	color: #C5C5D0;
}

:-moz-placeholder {
	color: #C5C5D0;
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.7s;
  -animation-duration: 1s;
  -animation-delay: 0.7s;

  @media (max-width: 500px) {
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.62);
  }
}

.waves {
    width: 100vw;
    margin-top: -70vh;
    height: 22vw;
}

.wavesi {
    width: 100vw;
    margin-top: -20vw;
    height: 22vw;
    position: relative;
    z-index: 1;
}

.whereandwhen {
    padding-bottom: 4vw;
    background-color: white;
    margin-top: -2%;

    .blocks {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;

        @media (max-width: 950px) {
            display: block;
        }

        .block {
            flex: 1;
            margin: 3vw;
            border-radius: 20px;
            height: 320px;

            @media (max-width: 860px) {
                margin: 1vw;
            }

            &.map {
                border: 2px solid white;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -o-border-radius: 20px;
                position: relative;
                overflow: hidden;
            }

            &.planetbg:nth-child(1) {
                background-image: url(https://s3.amazonaws.com/imagine-2018/assets/background1.jpg);
            }

            &.planetbg:nth-child(3) {
                background-image: url(https://s3.amazonaws.com/imagine-2018/assets/background2.jpg);
            }

            &.planetbg {
                display: flex;
                background-size: cover;
                color: white;
                font-family: lato;
                font-weight: 800;
                font-size: 2.3em;
                flex-direction: column;
                justify-content: center;

                @media (max-width: 860px) {
                    font-size: 1.7em;
                }

                @media (max-width: 950px) {
                    height: auto;
                    padding: 10%;
                    font-weight: 600;
                }

                p {
                    margin: 0;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    br {
                        display: block;
                    }
                }
           }
        }
    }
}

.gradient {
    background-color: black;
    color: white;
    font-family: lato;
    background: linear-gradient(#151642, #619EBF, #FFFFFF);
    
    .imgbg {
        position: relative;
        overflow: hidden;

        @media (max-width: 600px) {
            background-image: url(https://s3.amazonaws.com/imagine-2018/assets/cometsbg.png);
            background-size: 350%;
        }
    }

    .imgbg {
        .cometbg {
            position: absolute;
            z-index: 0;
            margin: -10px;
            width: 1610px;

            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    .featuredspeakers {
        padding-top: 30px;
        font-family: lato;
        position: relative;

        h3 {
            text-align: center;
            font-size: 2.4em;
        }

        .sbubbles {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 950px) {
                display: inline-block;
                margin: auto;
                text-align: center;
            }
            
            .speaker {
                width: 180px;
                text-align: center;
                display: inline-block;
                margin: 10px 30px;
                font-family: muli;
                font-size: 1.2em;

                @media (max-width: 950px) {
                    height: 315px;
                    width: 20%;
                    vertical-align: top;
                }

                @media (max-width: 750px) {
                    width: 40%;
                }

                @media (max-width: 500px) {
                    font-size: 1em;
                }

                &.o {
                    margin-top: -6%;
                    @media (max-width: 950px) {
                        margin: 10px 10px;
                    }
                    @media (max-width: 860px) {
                        margin: 10px 6px;
                    }
                }

                &.e {
                    margin-top: 6%;
                    @media (max-width: 950px) {
                        margin: 10px 10px;
                    }
                    @media (max-width: 860px) {
                        margin: 10px 6px;
                    }
                }

                img {
                    width: 150px;
                    border-radius: 90px;
                }
            }
        }
        
    }

    .faq {
        width: 80%;
        margin: auto;
        position: relative;

        h3 {
            font-size: 2.4em;
        }

        p {
            font-size: 0.9em;
        }

        .faq-col {
            width: 48%;
            font-size: 1.265em;
            font-family: muli;
            font-weight: 200;
            @media (max-width: 450px) {
                float: none !important;
                width: 100%;
            }

            &.l {
                float: left;
            }

            &.r {
                float: right;
            }
        }

        a {
            color: white;
        }
    }

    .sponsors {
        h3 {
            text-align: center;
            font-size: 2.4em;
        }

        .logos {
            display: block;
            margin: auto;
            width: 83%;
            text-align:  center;

            img {
                max-width: 400px;
                max-height: 400px;
                display: inline-block;
                margin: 10px;
                position: relative;
                vertical-align: middle;
                transition: 0.5s all;

                &:hover {
                    opacity: 0.8;
                    -webkit-filter: drop-shadow(5px 1px 3px rgba(136, 145, 146, 0.48));
                    filter: drop-shadow(5px 1px 3px rgba(136, 145, 146, 0.48));
                    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
                    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
                }
            }

            .row {
                &:nth-child(4) {
                    margin-bottom: -80px;
                }

                .github {
                    width: 180px;
                    right: 20px;
                    top: 10px;
                }

                .google {
                    height: 140px;
                }

                .quizlet {
                    top: 20px;
                    right: 30px;
                }

                .giphy {
                    height: 130px;
                }

                .twilio {
                    height: 90px;
                    left: 30px;
                    bottom: 20px;
                }
                
                .janestreet {
                    right: -20px;
                    top: 10px;
                }

                .gakko {
                    width: 300px;
                    top: 50px;
                }

                .upperline {
                    width: 330px;
                    left: 30px;
                }

                .jetbrains {
                    left: 50px;
                    width: 230px;
                    bottom: 10px;
                }

                .byteacademy {
                    width: 140px;
                    right: 670px;
                    bottom: 150px;
                }

                @media (max-width: 1065px) {
                    .quizlet {
                        width: 270px;
                        top: 10px;
                    }

                    .twilio {
                        height: 70px;
                        margin: 0;
                    }

                    .jetbrains {
                        width: 170px;
                    }

                    .upperline {
                        width: 270px;
                        bottom: 20px;
                    }

                    .janestreet {
                        width: 340px;
                        top: 10px;
                        margin: 0;
                    }

                    .giphy {
                        margin: 0;
                        height: 100px;
                    }

                    .gakko {
                        top: 10px;
                    }
                }

                @media (max-width: 800px) {
                    .github {
                        width: 130px;
                    }

                    .google {
                        height: 90px;
                    }

                    .twilio {
                        left: 30px;
                        top: 10px;
                    }

                    .janestreet {
                        left: 30px;
                        top: 20px;
                        width: 280px;
                    }

                    &:nth-child(4) {
                        margin-bottom: 0px;
                    }

                    .jetbrains {
                        left: 60px;
                        top: 10px;
                    }

                    .upperline {
                        bottom: 0px;
                        left: 50px;
                    }

                    .giphy {
                        right: 0px; 
                        height: 80px;
                    }

                    .gakko {
                        width: 230px;
                        top: 25px;
                        margin: 0;
                    }

                    .quizlet {
                        right: 30px;
                        width: 200px;
                        margin: 0;
                    }
                }

                 @media (max-width: 620px) {
                    img {
                        display: block;
                        top: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        bottom: 0 !important;
                        margin: 40px auto !important;
                        width: auto;
                        height: auto;
                    }

                    &:nth-child(4) {
                        margin-bottom: 0;
                    }

                    .janestreet {
                        width: 270px;
                    }

                    .gakko {
                        width: 230px;
                    }
                }
            }
        }
    }
}

.blackhole {
    margin-top: -20vw;
    position: relative;
    width: 100%;
}