@import url('https://fonts.googleapis.com/css?family=Lato:900|Muli');

html {
	overflow: hidden;
}

html {
  background-color: #151642;
  margin: 0;
}

div#particles-js {
    height: 100vh;
}

img {
	width: 200px;
}

.planets {
    position: absolute;
    width: 520px;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 100%;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

.comets {
    position: absolute;
    height: 570px;
    width: auto;
}

.planet1 {
    height: 48vh;
    width: auto;
    right: 23vw;
    top: 9vh;
}

.planets:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(128, 145, 148, 0.67);
    -moz-box-shadow: 0px 0px 30px 0px rgba(128, 145, 148, 0.67);
    box-shadow: 0px 0px 30px 0px rgba(128, 145, 148, 0.67);
}

.planet2 {
    top: 80vh;
    height: 45vh;
    width: auto;
    right: 8vw;
}

.planet3 {
    top: 50vh;
    height: 20vh;
    right: 2vw;
    width: auto;
}

.planet4 {
    display: none;
}

.comet3 {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg); 
    transform: rotate(60deg);
    right: 21vw;
    top: 17vh;
}

.comet5 {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    right: 0;
    top: -19vh;
    width: 5vw;
    height: auto;
}

.comet1, .comet2, .comet4 {
	display: none;
}

.info {
    width: 50%;
    height: 40vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3.5vw;
    margin: auto;

	h3 {
		font-family: 'Lato', sans-serif;
		color: white;
	    font-size: 5em;
	    margin: 0 0 1vw;
	}

	p {
		font-family: 'Muli', sans-serif;
	    font-size: 2em;
	    color: #C5C5D0;
	    margin: 0 0 4vw;
	}

	input {
	    border: 2px solid #C5C5D0;
	    border-radius: 28px;
	    background: url(../assets/arrow.png) no-repeat scroll 7px;
	    background-size: 30px;
	    background-position-x: 98%;
	    padding-right: 30px;
	    padding-left: 15px;
	    height: 6vh;
	    width: 60%;
	    font-family: 'Muli', sans-serif;
	    font-size: 1.2em;
	    color: #C5C5D0;
	}
}

.socials {
    position: absolute;
    bottom: 5vw;
    left: 3.5vw;

    i {
	    font-size: 2.1em;
	    color: #C5C5D0;
	    padding-right: 22px;
	}
}

::-webkit-input-placeholder {
	color: #C5C5D0;
}

::-moz-placeholder { 
	color: #C5C5D0;
}

:-ms-input-placeholder {
	color: #C5C5D0;
}

:-moz-placeholder {
	color: #C5C5D0;
}